<div class="row container mx-auto">
  <div class="d-none d-md-block col-sm-6">
    <%=image_tag "signin.jpg", alt: "brand image",class:'img-fluid h-100'%>
  </div>
  <div class="col-md-6 d-flex flex-column p-0">
    <h1 class="text-center">Log in</h1>
    <div class="mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mt-4 fs-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field mt-4 fs-4 mb-2">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me ,class:'fs-5'%>
          </div>
        <% end %>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name),class:'text-dark fs-5 text-decoration-none' %><br />
        <% end %>
        <div class="actions mt-2">
          <%= f.submit "Log in",class: "btn btn-dark fs-5 mt-1" %>
        </div>
      <% end %>
      <span class="d-block text-center my-3 text-muted fs-5">—Don't have an account?—</span>
      <span class="d-block text-center "> <%= render "devise/shared/links" %></span>
    </div>
  </div>
</div>
